[submodule "Html.Mecharena/SharedWebBoardgame"]
	path = Html.Mecharena/SharedWebBoardgame
	url = https://github.com/dougbankspersonal/SharedWebBoardgame.git
[submodule "Html.Life/SharedWebBoardgame"]
	path = Html.Life/SharedWebBoardgame
	url = https://github.com/dougbankspersonal/SharedWebBoardgame.git
[submodule "Html.Lagom/SharedWebBoardgame"]
	path = Html.Lagom/SharedWebBoardgame
	url = https://github.com/dougbankspersonal/SharedWebBoardgame.git
