.card.front.triangle.color {
  .overlay {
    background-image: url("../SharedWebBoardgame/images/triangle-frame.png");
  }

  .front-wrapper {
    z-index: 0;

    .sectors-row {

      // Terrains
      .sector.tri-city {
        background-image: url("../images/cards/tri-city.png");
      }

      .sector.tri-swamp {
        background-image: url("../images/cards/tri-swamp.png");
      }

      .sector.tri-farm {
        background-image: url("../images/cards/tri-farm.png");
      }

      .sector.tri-suburb {
        background-image: url("../images/cards/tri-suburb.png");
      }

      .sector {
        .player {
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 66.6%;
          width: 40%;
          height: 40%;
          filter: drop-shadow(0 6px 5px rgba(0, 0, 0, 0.5));
        }
      }
    }
  }
}

.card.back.color.triangle {
  .back-wrapper {
    .single-sector-insert.player.pseudo-image {
      width: 45%;
      height: 45%;
      filter: drop-shadow(0 6px 5px rgba(0, 0, 0, 0.5));
    }
  }

  .back-wrapper.player-0 {
    background-image: url("../images/cards/tri-back-player-0.png");
  }

  .back-wrapper.player-1 {
    background-image: url("../images/cards/tri-back-player-1.png");
  }

  .back-wrapper.player-2 {
    background-image: url("../images/cards/tri-back-player-2.png");
  }

  .back-wrapper.player-3 {
    background-image: url("../images/cards/tri-back-player-3.png");
  }
}