.card.front.triangle.color {
  font-family: Special Elite,
    monospace;

  .overlay {
    background-image: url("../SharedWebBoardgame/images/triangle-frame.png");
  }

  .front-wrapper {
    z-index: 0;

    .sectors-row {

      // Terrains
      .sector.tri-red {
        background-image: url("../images/cards/tri-red.png");
      }

      .sector.tri-blue {
        background-image: url("../images/cards/tri-blue.png");
      }

      .sector.tri-green {
        background-image: url("../images/cards/tri-green.png");
      }

      .sector.tri-yellow {
        background-image: url("../images/cards/tri-yellow.png");
      }

      .sector {
        .player {
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 66.6%;
          width: 33%;
          height: 33%;
          filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
        }
      }
    }
  }
}

.card.back.color.triangle {
  .back-wrapper {
    .single-sector-insert.player.pseudo-image {
      width: 50%;
      height: 50%;
    }
  }

  .back-wrapper.player-0 {
    background-image: url("../images/cards/tri-back-player-0.png");
  }

  .back-wrapper.player-1 {
    background-image: url("../images/cards/tri-back-player-1.png");
  }

  .back-wrapper.player-2 {
    background-image: url("../images/cards/tri-back-player-2.png");
  }

  .back-wrapper.player-3 {
    background-image: url("../images/cards/tri-back-player-3.png");
  }
}