.card.scoring {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  border: 12px solid #000;
}

.card.scoring.back {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  background-image: url("../images/cards/marble.png");

  .text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .pseudo-image.scoring-symbol {
    width: 50%;
    height: 50%;
    filter: drop-shadow(0 6px 5px rgba(0, 0, 0, 0.5));
  }
}

.card.scoring.front {
  .text {
    padding: 10px;
    font-family: "Lora", serif;
    font-size: 35px;
  }
}