.card.front.triangle.katami {
  .overlay {
    background-image: url("../SharedWebBoardgame/images/triangle-frame.png");
  }

  .front-wrapper {
    z-index: 0;

    .sectors-row {

      // Terrains
      .sector.kat-path {
        background-image: url("../images/cards/kat-path.png");
      }

      .sector.kat-water {
        background-image: url("../images/cards/kat-water.png");
      }

      .sector.kat-grass {
        background-image: url("../images/cards/kat-grass.png");
      }

      .sector.kat-water-path {
        background-image: url("../images/cards/kat-water-path.png");
      }

      .sector {
        .player {
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 66.6%;
          width: 39%;
          height: 30%;
          filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
        }
      }
    }
  }
}

.card.back.katami.triangle {
  .back-wrapper {
    .single-sector-insert.player.pseudo-image {
      width: 50%;
      height: 50%;
    }
  }

  .back-wrapper.player-0 {
    background-image: url("../images/cards/tri-back-player-0.png");
  }

  .back-wrapper.player-1 {
    background-image: url("../images/cards/tri-back-player-1.png");
  }

  .back-wrapper.player-2 {
    background-image: url("../images/cards/tri-back-player-2.png");
  }

  .back-wrapper.player-3 {
    background-image: url("../images/cards/tri-back-player-3.png");
  }
}