.pseudo-image.flower-0 {
  background-image: url("../images/cards/flower-0.png");
}

.pseudo-image.flower-1 {
  background-image: url("../images/cards/flower-1.png");
}

.pseudo-image.flower-2 {
  background-image: url("../images/cards/flower-2.png");
}

.pseudo-image.player-icon-0 {
  background-image: url("../images/cards/player-icon-0.png");
}

.pseudo-image.player-icon-1 {
  background-image: url("../images/cards/player-icon-1.png");
}

.pseudo-image.player-icon-2 {
  background-image: url("../images/cards/player-icon-2.png");
}

.pseudo-image.player-icon-3 {
  background-image: url("../images/cards/player-icon-3.png");
}

.pseudo-image.square-city {
  background-image: url("../images/cards/square-city.png");
}

.pseudo-image.square-farm {
  background-image: url("../images/cards/square-farm.png");
}

.pseudo-image.square-suburb {
  background-image: url("../images/cards/square-suburb.png");
}

.pseudo-image.green-check {
  background-image: url("../images/cards/green-check.png");
}

.pseudo-image.red-x {
  background-image: url("../images/cards/red-x.png");
}

.pseudo-image.vote {
  background-image: url("../images/cards/vote.png");
}