.pseudo-image.flower-0 {
  background-image: url("../images/cards/flower-0.png");
}

.pseudo-image.flower-1 {
  background-image: url("../images/cards/flower-1.png");
}

.pseudo-image.flower-2 {
  background-image: url("../images/cards/flower-2.png");
}

.pseudo-image.player-icon-0 {
  background-image: url("../images/cards/player-icon-0.png");
}

.pseudo-image.player-icon-1 {
  background-image: url("../images/cards/player-icon-1.png");
}

.pseudo-image.player-icon-2 {
  background-image: url("../images/cards/player-icon-2.png");
}

.pseudo-image.player-icon-3 {
  background-image: url("../images/cards/player-icon-3.png");
}