.mh {
  div.pseudo-image.node-buffer {
    background-image: url("../images/Cards/node-buffer.png");
  }
}

.cgc {
  div.pseudo-image.node-buffer {
    background-image: url("../images/Cards/color-green.png");
  }
}

div.pseudo-image.node-blue {
  background-image: url("../images/Cards/node-blue.png");
}

div.pseudo-image.node-green {
  background-image: url("../images/Cards/node-green.png");
}

div.pseudo-image.node-red {
  background-image: url("../images/Cards/node-red.png");
}

div.pseudo-image.node-yellow {
  background-image: url("../images/Cards/node-yellow.png");
}

div.pseudo-image.node-orange {
  background-image: url("../images/Cards/node-orange.png");
}

div.pseudo-image.node-purple {
  background-image: url("../images/Cards/node-purple.png");
}



div.pseudo-image.color-blue {
  background-image: url("../images/Cards/color-blue.png");
}

div.pseudo-image.color-green {
  background-image: url("../images/Cards/color-green.png");
}

div.pseudo-image.color-red {
  background-image: url("../images/Cards/color-red.png");
}

div.pseudo-image.color-yellow {
  background-image: url("../images/Cards/color-yellow.png");
}

// Connections
div.pseudo-image.connection-sword {
  background-image: url("../images/Cards/connection-sword.png");
}

div.pseudo-image.connection-shield {
  background-image: url("../images/Cards/connection-shield.png");
}

// Paths.
div.pseudo-image.path-full-left {
  background-image: url("../images/Cards/path-full-left.png");
}

div.pseudo-image.path-half-left {
  background-image: url("../images/Cards/path-half-left.png");
}

div.pseudo-image.path-full-right {
  background-image: url("../images/Cards/path-full-right.png");
}

div.pseudo-image.path-half-right {
  background-image: url("../images/Cards/path-half-right.png");
}

div.pseudo-image.corridor {
  background-image: url("../images/Cards/corridor.png");
}

// Title stuff
div.pseudo-image.te-title {
  background-image: url("../images/Cards/backs/te-title.png");
}