.card_array > .page_of_items_contents > .card.mech-arena-card {
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.dark_shadowed {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.card.mech-arena-card {
  font-family: "Orbitron", serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-weight: bold;
}

.card.front.mech-arena-card {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  border: 4px solid #000;
}
.card.front.mech-arena-card .initiative {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 50px;
  height: 50px;
}
.card.front.mech-arena-card .initiative .number {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}
.card.front.mech-arena-card .body-part-wrapper {
  position: absolute;
  top: -2px;
  right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.card.front.mech-arena-card .body-part-wrapper .body-part {
  width: 35px;
  height: 35px;
  position: relative;
}
.card.front.mech-arena-card .body-part-wrapper .body-part .side {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  font-size: 12px;
  width: 100%;
  height: 100%;
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}
.card.front.mech-arena-card .front-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.card.front.mech-arena-card .front-wrapper .title {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.card.front.mech-arena-card .front-wrapper .cost_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
.card.front.mech-arena-card .front-wrapper .cost_wrapper .pseudo_image {
  height: 40px;
  width: 40px;
  position: relative;
}
.card.front.mech-arena-card .front-wrapper .details-section {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #000;
  gap: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}
.card.front.mech-arena-card .front-wrapper .details-section .pseudo_image {
  width: 50px;
  height: 50px;
}
.card.front.mech-arena-card .front-wrapper .details-section .join {
  font-size: 40px;
  font-weight: bold;
}
.card.front.mech-arena-card .front-wrapper .movement {
  border-color: #292;
}
.card.front.mech-arena-card .discard-effect-wrapper {
  position: absolute;
  bottom: 15px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card.front.mech-arena-card .discard-effect-wrapper .pseudo_image {
  width: 40px;
  height: 40px;
  position: relative;
}

.pseudo_image .count {
  position: absolute;
  bottom: -12%;
  right: -12%;
}

.card.front.mech-arena-card.system {
  border-color: #dd1;
}

.card.front.mech-arena-card.attack {
  border-color: #922;
}

.card.front.mech-arena-card.movement {
  border-color: #292;
}

.card.back.mech-arena-card {
  position: relative;
}
.card.back.mech-arena-card .back-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  position: relative;
}
.card.back.mech-arena-card .back-wrapper .back-text {
  font-size: 36px;
}
.card.back.mech-arena-card .back-wrapper .pseudo_image {
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card.back.mech-arena-card.deck-0 {
  background-color: #ffeedd;
}

.card.back.mech-arena-card.deck-1 {
  background-color: #eeddff;
}

/*# sourceMappingURL=mech_arena_cards.css.map */
