body,
html {
  background: transparent !important;
}

.page_of_cards {
  background: transparent !important;
}

.page_of_items_contents {
  background: transparent !important;
}

.card_array>.page_of_items_contents>.card.lagom {
  //    filter: drop-shadow(0 0 8px red);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.card.lagom {
  font-family: "Quintessential", serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-weight: bold;
}

.card.front.lagom {
  position: relative;

  .front-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;

    .sectors-row-0 {
      align-items: end;
    }

    .sectors-row-1 {
      align-items: start;
    }


    .sectors-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 50%;

      .sector {
        display: flex;
        justify-content: center;
        overflow: hidden;

        .symbol-image.pseudo-image {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;

        }
      }
    }
  }
}

.card.back.lagom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/LagomCards/triangle-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-width: initial;
  border-style: initial;
  border: initial;
}