// add
div.pseudo-image.wc-wealth {
  background-image: url("../images/LagomCards/wc-wealth.png");
}

div.pseudo-image.wc-relationships {
  background-image: url("../images/LagomCards/wc-relationships.png");
}

div.pseudo-image.wc-accomplishment {
  background-image: url("../images/LagomCards/wc-accomplishment.png");
}

div.pseudo-image.wc-leisure {
  background-image: url("../images/LagomCards/wc-leisure.png");
}

div.pseudo-image.wc-purpose {
  background-image: url("../images/LagomCards/wc-purpose.png");
}

div.pseudo-image.wc-rest {
  background-image: url("../images/LagomCards/wc-rest.png");
}

// Title stuff
div.pseudo-image.lagom-title-shadow {
  background-image: url("../images/LagomCards/lagom-title-shadow.png");
}

div.pseudo-image.lagom-title {
  background-image: url("../images/LagomCards/lagom-title.png");
}