.card_array>.page_of_items_contents>.card.midlife {
  //    filter: drop-shadow(0 0 8px red);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.card.midlife {
  font-family: "Sacramento", serif;
}

.card.front.midlife,
.card.back.midlife {
  border: 4px solid rgb(85, 107, 47);
}

.card.front.midlife {
  position: relative;

  .front-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/LagomCards/card-face.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .sectors-row-0 {
      align-items: end;
    }

    .sectors-row-1 {
      align-items: start;
    }

    .sectors-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 50%;

      .sector {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        box-shadow: inset 0 0 0 3px rgb(65, 87, 27, 0.4);
        height: 100%;
        width: 50%;
        overflow: hidden;

        .title {
          font-size: 20px;
          padding-top: 10px;
          padding-left: 10px;
          padding-right: 10px;
          font-weight: bold;
          text-decoration: underline;
        }

        .text {
          font-size: 15px;
          padding-top: 8px;
          padding-left: 10px;
          padding-right: 10px;
          font-weight: bold;
        }
      }

      .sector.good {
        background-color: rgba(0, 255, 0, 0.03);
      }

      .sector.bad {
        background-color: rgba(255, 0, 0, 0.03);
      }
    }
  }
}

.card.back.midlife {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/LagomCards/card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 0px;

  .half-shade {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
  }

  .half-shade.left {
    background-color: rgba(255, 255, 0, 0.2);
    top: 0px;
    left: 0px;
  }

  .half-shade.right {
    background-color: rgba(0, 0, 255, 0.1);
    top: 0px;
    right: 0px;
  }

  .lagom-title-shadow {
    width: 90%;
    height: 90%;
    z-index: 20;
  }
}