.card_array>.page_of_items_contents>.card.lagom {
  //    filter: drop-shadow(0 0 8px red);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.dark_shadowed {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}


.card.lagom {
  font-family: "Quintessential", serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-weight: bold;
}

.card.front.lagom {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  border: 4px solid rgb(157, 108, 4);

  .front-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/LagomCards/card-face.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .sectors-row-0 {
      align-items: end;
    }

    .sectors-row-1 {
      align-items: start;
    }

    .sectors-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 50%;

      .sector {
        background-color: rgba(220, 250, 220, 0.2);
      }

      .sector.sector-index-2,
      .sector.sector-index-3 {
        transform: rotate(180deg);
      }


      .sector {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 3px solid rgba(157, 108, 4, 0.4);
        height: 100%;
        width: 50%;
        overflow: hidden;

        .symbol-image.pseudo_image {
          position: absolute;
          top: 50%;
          left: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .symbol-number {
            font-size: 32px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.card.back.lagom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/LagomCards/card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .lagom-title-shadow {
    width: 90%;
    height: 90%;

  }
}