.card.front.lagom {
  border: 4px solid rgb(157, 108, 4);
  border-style: solid;

  .front-wrapper {
    background-image: url("../images/LagomCards/card-face.png");
    background-position: center;
    background-size: cover;

    .sectors-row {

      .sector {
        align-items: center;
        height: 100%;
        position: relative;
        width: 50%;
        border: 2px solid rgb(127, 128, 24);
      }

      .sector.sector-index-2,
      .sector.sector-index-3 {
        transform: rotate(180deg);
      }
    }
  }

  .front-wrapper.starter {
    background-image: url("../images/LagomCards/starter-card-face.png");
  }
}

.card.back.lagom {
  border: 4px solid rgb(157, 108, 4);
  background-image: url("../images/LagomCards/card-back.png");

  .lagom-title {
    width: 80%;
    height: 80%;
  }
}

.card.back.lagom.starter {
  background-image: url("../images/LagomCards/starter-card-back.png");
}