body,
html {
  background: transparent !important;
}

.page_of_cards {
  background: transparent !important;
}

.page_of_items_contents {
  background: transparent !important;
}

.card_array>.page_of_items_contents>.card.lagom {
  //    filter: drop-shadow(0 0 8px red);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.dark_shadowed {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}


.card.lagom {
  font-family: "Quintessential", serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-weight: bold;
}

.card.front.lagom {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  padding: 0px;
  border: initial;
  border-width: initial;
  border-style: initial;

  .front-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/LagomCards/triangle-parchment-final.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* scale by width, height auto */
    background-position: 0px 0px;

    /* flush with bottom */
    .sectors-row-0 {
      align-items: end;
    }

    .sectors-row-1 {
      align-items: start;
    }

    .sectors-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 50%;

      .sector {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        overflow: hidden;

        .symbol-container {
          position: absolute;
          display: flex;
          padding: 5%;

          .symbol-image.pseudo_image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .symbol-number {
              font-size: 32px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.card.back.lagom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/LagomCards/triangle-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-width: initial;
  border-style: initial;
  border: initial;
}